
h1 {
    padding: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    text-align: center;
}

.wrapper{
    background-color: gray;

}

.card-header{
    text-align: center;
}

.card-body{
    text-align: center;
}

#generate {
    color: green;
}

#copy {
    color: green;
}

.card {
    margin-left: 15px;
    margin-right: 15px;


}

body{
    background-color: gray;
}
